@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">CalMe</h1>
        <br />
        <h3><i>Procedurally curated meditation practices</i></h3>
        <br />
        <br />

        <form method="post">
            <button class="btn-dark" type="submit">Begin</button>
        </form>
    </div>
