@page
@model CalMe.meditationCenterModel
@{
    ViewData["Title"] = "meditationCenter";
}
    <body class="backgroundProp">
        <div id="head" class="justify-content-center">
            <br />
            <h2 class="text-center main-content">Welcome To The Meditation Center</h2>
            <br />
            <br />
            <h5 class="text-center secondary-content"><i>We'll curate original meditation practices based on your real time feedback</i></h5>
        </div>
        <br />
        <div id="meditationContent">
            <h3 class="text-center" id="name">@Model.newMeditation.name</h3>
            <br />
            <h5 class="text-center" id="content">@Model.newMeditation.content</h5>
        </div>
        <br />
        <div id="hiddenButtons" class="align-items-center text-center">
            <button id="like" class="btn opinionButton buttonPos"></button>
            <button id="dislike" class="btn opinionButton buttonNeg"></button>
        </div>

    </body>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/meditate.js"></script>